@import "tailwindcss";

:root {

  line-height: 1.5;
  font-weight: 400;

  min-height: 100vh;


  background: linear-gradient(180deg, rgba(0, 204, 255, 0.1) 0%, rgba(200,180, 255, 0.3) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}